* {
    box-sizing: border-box;
}
html, body,section {
    height: 150%;
}

body {
    color: black;
    text-align: center;
}
h1 {
    background-color: #d1c8c8;
    border: 10px solid#d1c8c8;
    margin: 20px 0px 5px 0px ;
    text-align: center;
    width: 100%;
}

.split-screen {
    display: flex;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-left {
    background-color: #f0f356d0;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}

.top-right{
    background-color: #f4fc6291;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}
.grocery {
    list-style: none;
    background-color: rgb(180, 180, 180);
    /* border-radius: 50px; */
    font-size: 24px;
    margin: 10px 0;
    padding: 5px;

}

ul li {
    list-style: none;
}

ul .fa-check, .fa-ban{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 70px;
    color: green;

}

ul .fa-ban{
    right: 40px;
    color: red;
}

ul .checked{
 background: lightgreen;
 text-decoration: line-through;
 transition: .3s;
}


.meals {
    color: red;
}

.dropdown {
    min-width: 15px;
    position: relative;
    margin: 2px;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background-color: rgb(199, 189, 189);
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(199, 189, 189);
    border-radius: 0.5px;
    padding: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;

}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid green;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    padding: 5px 7px;
    background: #f4f6e9;
    border: 1px #f4f6e9 solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    color: #485a8a;
    position: relative;
     /* opacity: 0;
    display: none; */
    transition: 0.1s;
    z-index: 1;
}

.menu li {
    padding: 5px 6px;
    margin: 4px 0;
    border-radius: 8px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #8c8c8e;
}
