* {
    box-sizing: border-box;
}
html, body,section {
    height: 100%;
}

body {
    color: black;
    text-align: center;
}
h1 {
    background-color: #d1c8c8;
    border: 10px solid#d1c8c8;
    margin: 20px 0px 5px 0px ;
    text-align: center;
    width: 100%;
}

.split-screen {
    display: flex;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-left {
    background-color: #ADE1AF;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}

.top-right{
    background-color: #CDFFCC;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}
ul li{
    list-style: none;
    background-color: rgb(43, 211, 43);
    border-radius: 50px;
    font-size: 24px;
}

.checkbox{
    height: 20px;
    right: 40px;
    color: blue;
}

.meals {
    color: red;
}
