* {
    box-sizing: border-box;
}
html, body,section {
    height: 100%;
}

body {
    color: black;
    text-align: center;
}
h1 {
    background-color: #d1c8c8;
    border: 10px solid#d1c8c8;
    margin: 20px 0px 5px 0px ;
    text-align: center;
    width: 100%;
}

.split-screen {
    display: flex;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-left {
    background-color: #f0f356d0;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}

.top-right{
    background-color: #f4fc6291;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
}
ul li{
    list-style: none;
    background-color: rgb(180, 180, 180);
    border-radius: 50px;
    font-size: 24px;
    margin: 10px 0;
    padding: 5px;

}

ul .fa-check, .fa-ban{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 70px;
    color: green;

}

ul .fa-ban{
    right: 40px;
    color: red;
}

ul .checked{
 background: lightgreen;
 text-decoration: line-through;
 transition: .3s;
}


.meals {
    color: red;
}
